/* css file for arknight github calculator */

#story{
    width:100%;
    text-align:center;
}
.storyimagecontainer{
    width:100%;
    text-align:center;
}
.storyimagecontainer img{
    max-width:600px;
    width:100%;
}

.filter-tag-red {
    display: inline-flex;
    color: white;
    background: #222;
    width: 100px;
    padding: 5px 10px;
    font-size: 14px;
    align-items: center;
    margin-right: 10px;
    box-shadow: inset -6px 0px 0px 0px brown;
    border-radius: 0px;
}

.filter-tag-blue {
    display: inline-flex;
    color: white;
    background: #222;
    width: 100px;
    padding: 5px 10px;
    font-size: 14px;
    align-items: center;
    margin-right: 10px;
    box-shadow: inset -6px 0px 0px 0px #22b;
    border-radius: 0px;
}

.filter-tag-none {
    display: inline-flex;
    color: white;
    background: #222;
    width: 100px;
    padding: 5px 10px;
    font-size: 14px;
    align-items: center;
    margin-right: 10px;
    /*box-shadow: inset -6px 0px 0px 0px #22b;*/
    border-radius: 0px;
}

.filter-category-enemy{
    flex-grow: 1;
    flex-wrap: wrap;
    width: 330px;
}

#filter-enemy-immunity.filter-tag-red:hover{
    color: aqua
}

#filter-enemy-immunity.filter-tag-blue:hover{
    color: red;
}

.act_list:hover > a, .zone_list:hover > a, #GamemodeList .dropdown-item:hover, .act_list .dropdown-item:hover, .zone_list .dropdown-item:hover, .stage_list .dropdown-item:hover{
    background-color: #3a2 !important;
    border-color: #3a2 !important;
}

.act_list:has(.dropdown-item.selected), .zone_list:has(.dropdown-item.selected), .dropdown-item.selected{
    background-color: #004286;
    border-color: #004286;
}

.dropdown-menu li {
    position: relative;
}
.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}
a.dropdown-item{
    background: #00000055;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 2px;
    /*text-align: center;*/
    color: #DDD !important;
}



#spine-toolbar{
    left: initial !important;
}
.spine-danger{
    padding: 2px 4px;
    border-radius: 0px;
    margin-left: 40px;
}
@media screen and (max-width:768px) {
    .storyimagecontainer{
        width:100%;
    }
}
