[submodule "ArknightsGameData"]
	path = json/gamedata/ArknightsGameData
	url = https://github.com/Kengxxiao/ArknightsGameData
[submodule "ArknightsGameData_YoStar"]
	path = json/gamedata/ArknightsGameData_YoStar
	url = https://github.com/Kengxxiao/ArknightsGameData_YoStar/